@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@charset "ISO-8859-1";
body, html{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Lobster', cursive;
  background-color: #f6f0ce;
}

.step{
display: none;
width: 100%;
}
input.invalid {
  background-color: #ffdddd;
}
#mapid{
    width: 800px;
    height: 400px;
}

#mapareacontainer{
  width:fit-content;
  height:fit-content;
  float: left;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input{
margin-left: 100px;
margin-bottom: 20px;
outline: none;
border:none;
box-shadow: none !important;
font-family: 'Lobster', cursive;
font-size: 20px;
}

#formmappa{
   margin:auto;
  width: 90%;
  height:400px;
}

.input{
	width: 30%;
	float: right;
}

.container{
   top:50%;
    left:50%;
   width: 80%;
   height: 85%;
   background: rgba(255,255,255,0.9);
   padding:10px;
   text-align: center;
   margin: auto;
   margin-top:10px;
   overflow-y: scroll;
   overflow-x: scroll;
}

#i::-webkit-file-upload-button,button, .button{
  display: inline-block;  
	 cursor: pointer;   
	 padding: 10px;
	 margin: 10px; 
	 border: 1px solid #204d23;  
	 border-radius: 5px;  
	 color: rgba(255,255,255,1); 
	 text-align: center; 
	 font-family: 'Lobster', cursive;
	 font-size: larger;
	 background: #669e43;
	 -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;   
	 -webkit-transition: color 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75); 
	 -moz-transition: color 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75); 
	 -o-transition: color 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75); 
	 transition: color 300ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

#i::-webkit-file-upload-button{
	
	margin:2px;
	
}

.topnav {
  overflow: hidden;
  background: #669e43;
}

#mapareacontainer{
	width: 60%;
	border: 2px solid #669d43;
}

#mapid{
	width: 100%;
}

.step{
	width: 100%;
	text-align: initial;
}
.step input{
	border-bottom: 2px solid #669d43;
	margin:auto;
	margin-top:5px;
	width:100%;
}
	
	
h2{
	color: #669e43;
	margin-bottom: 0px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #b9cc33;
  color: whitesmoke;
}


.imagecontainer{
    margin:auto;
    margin-top:10px;
	height:200px; 
	width:300px;
}


.c_input{
    margin:auto;
    margin-top:10px; 
	width:50%;
    height:fit-content;
}












.details{
	margin-top:5%;
    float:left;
	width:50%;
}

.top{

height:100%;
height:80%;
}

.left{
	margin-top:5%;
	margin-left:5%;
    padding:0px;
	text-align:center;
	font-size:10px;
    height:30px;
    width:30px;
    float: left;
    
}
.elementlist{
    background: none;
    box-shadow: 0 4px 8px 0 #669e43, 0 6px 20px 0 #669e43;
    border: none;
    width:50%;
    height:10%;
    color:#669e43;
}
.right{
	margin-top:5%;
	margin-right:5%;
	padding:0px;
	text-align:center;
	font-size:10px;
    height:30px;
    width:30px;
    float: right;
    
}


#immagini{
	margin:auto;
	width:98%;
	height:350px;	
    box-shadow: 0 4px 8px 0 #669e43, 0 6px 20px 0 #669e43;
    overflow-y:scroll;
}

img{
width:98%;
height:80%;
margin:auto;
margin-top:1%;
}