@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@charset "ISO-8859-1";
html,body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Lobster', cursive;
  background-color: #f6f0ce;
}

.topnav {
 overflow: hidden;
 background: #669e43;
}

/* Style the topnav links */
.topnav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
 background-color: #b9cc33;
 color: whitesmoke;
}

.container{
  top:50%;
    left:50%;
   width: 80%;
   height: 85%;
   background: rgba(255,255,255,0.9);
   padding:10px;
   text-align: center;
   margin: auto;
   margin-top:10px;
   overflow-y: scroll;
}

h2, h3{
  margin: 0px;
  color: #669d43;
}

p{
  margin: 0px;
}

#elencoImmagini{
  position: relative;
  width: 20%;
  height: 500px;
  overflow-y: scroll;
  border-title: "ciao";
  float: left;
  box-shadow: 0 4px 8px 0 #669e43, 0 6px 20px 0 #669e43;
}

.img{
  position: relative;
  width: 90%;
  margin: 5px;
  border: 1px solid #669d43;
  cursor: pointer;
}

img{
  position: relative;
  width: 90%;
  margin: 5px;
}

#containerdettagli{
  position: relative;
  box-shadow: 0 4px 8px 0 #669e43, 0 6px 20px 0 #669e43;
  width: 77%;
  height: 500px;
  float: right;
  overflow-y: scroll;
}

#nomeutente{
  color: green;
  font-size: 25px;
}

#commento{
  color: black;
  padding: 5px;
  font-size: 20px;
  margin: 5px;
}

#informazioni{
  color: gray;
  font-size: 12px;
  margin-bottom: 8px;
}

#container{
  padding:3%;
  height: fit-content;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 #669e43, 0 6px 20px 0 #669e43;
}

#colore{
  float: left;
  margin: 5px;
  height: 15px;
  width:15px;
  border-radius: 50px;
}

#annotazioni{
	text-align:center;
  padding: 5px;
  margin: 5px;
  background-color: rgba(255,255,255,0.9);
}